body {
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}


/* INDEX.HTML */
#wrapper {
    min-height: 100vh;
    overflow: scroll;
}

#list-unit span:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* bootstrap */
.item.col-4 {
    margin-top: 10px;
}